@model SpendMonitor.Models.TransferViewModel

@{
    ViewData["Title"] = "Transfer Between Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @using (Html.BeginForm("Transfer", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="table">
            <div class="form-group">
                <label class="control-label" style="width:25%">From Account</label>
                <select id="FromAccountDDL" asp-for="FromAccount" class="form-control" asp-items="ViewBag.FromAccounts" style="width:25%"></select>
            </div>
            <div class="form-group">
                <label class="control-label" style="width:25%">To Account</label>
                <select id="ToAccountDDL" asp-for="ToAccount" class="form-control" asp-items="ViewBag.ToAccounts" style="width:25%"></select>
            </div>
            <div class="form-group">
                <label class="control-label" style="width:25%">Amount</label>
                <input id="TransferAmount" asp-for="TransferAmount" class="form-control" style="width:25%" />
            </div>
            <div class="form-group">
                <input type="submit" value="Transfer" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
