@model SpendMonitor.Models.TblIncome

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TblIncome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IncomeAmount" class="control-label"></label>
                <input asp-for="IncomeAmount" class="form-control" />
                <span asp-validation-for="IncomeAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncomeCategory" class="control-label"></label>
                <select asp-for="IncomeCategory" class ="form-control" asp-items="ViewBag.IncomeCategory"></select>
            </div>
            <div class="form-group">
                <label asp-for="IncomeDate" class="control-label"></label>
                <input asp-for="IncomeDate" class="form-control" />
                <span asp-validation-for="IncomeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncomeSource" class="control-label"></label>
                <input asp-for="IncomeSource" class="form-control" />
                <span asp-validation-for="IncomeSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
