@model SpendMonitor.Models.FinancialStatsModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("FinancialStats")

@*<div class="container">
    <strong>@Html.DisplayNameFor(x => x.ExpenseByCategory)</strong>

    @foreach (var item in Model.ExpenseByCategory)
    {
        <div class="row">
            <div class="col">
                @Html.DisplayFor(x => item.Key)
            </div>
            <div class="col">
                @Html.DisplayFor(x => item.Value)
            </div>

        </div>
    }
</div>*@
